.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    & input {
        border: 2px solid black;
        height: 30px;
        border-radius: 6px;
        outline: none;
    }    
}