.turtle{
  position: relative;
  font-family: 'Pacifico', sans-serif;
    &__box {
        display: flex;
        & img {
            max-width: 500px;
            animation: turtlePic 1s;
        }
        &__content {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            animation: turtleText 1s;
        }
        &__text{
          padding: 20px 40px 20px 0px;
        }
    }
}
    
  @keyframes turtlePic {
    0%{
       transform: translateX(-100%);
    }
    100%{
       transform: translateX(0);
    }
  }

  @keyframes turtleText {
    0%{
      transform: translateY(100%);
    }
    100%{
      transform: translateY(0);
    }
  }
  
  