.turtle--title{
    position: absolute;
    top: 0px;
    left: 25%;
    font-weight: bold;
    font-size: 46px;
    transform: translateX(-50%);
    animation: turtleTitle 2s;
    font-family: 'Pacifico', sans-serif ;
    line-height: 1.2;
}

@keyframes turtleTitle {
    0%{
      opacity: 0;
    }
    80%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
    