.prosto{
    & .tabs {
        display: flex;
        justify-content: center;
        margin: 20px auto 0px;
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            height: 50px;
            cursor: pointer;
            &--active{
                // background: darken($color: violet, $amount: 5%);
                text-shadow: 5px -2px 1px gray;
            }
        }
        &__item:nth-child(1){
            border-top: 1px solid black;
            border-right: 1px solid black;  
            border-radius: 0px 5px 0px 0px;
        }
        &__item:nth-child(2){
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            border-radius: 0px 0px 5px 5px;
            margin-top: 3px;
            padding:0px 3px 3px 3px;
        }
        &__item:nth-child(3){
            border-top: 1px solid black;
            border-radius: 5px 0px 0px 0px;
        }
    } 
    &__box {
        display: flex;
        padding: 20px 40px;
        & img {
            max-width: 300px;
        }
    }
    &--title {
        margin-bottom: 30px;
    }
    &--text{
        padding-left: 20px;
        padding-right: 20px;
    }
    & h2 {
        margin-top: 20px;
    }
}
