.prosto{
    & .tabs {
        display: flex;
        justify-content: center;
        margin: 20px auto 0px;
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 50px;
            cursor: pointer;
            border: 1px solid red;
        }
    } 
    &__box {
        display: flex;
        padding: 20px 40px;
        & img {
            max-width: 400px;
        }
    }
    &--title {
        margin-bottom: 30px;
    }
}
