.marvel{
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    padding-top: 30px;
    &__box{
        background: linear-gradient(36deg, #0dd3ff, #0389ff, #1c79c0);;
        width: 300px;
        height: calc(100vh - 150px);
        position: relative;
        z-index: 100; 
        & img {
            width: 100%;
        }
        & h1 {
            padding: 10px;
        }
    }
    &__left, &__right, &__text{
        background: #1c79c0;
        position: absolute;
        opacity: 0;
        display: block;
        width: 300px;
        height: calc(100vh - 150px);
        transition: all 1s ease-out;
    }
    &__text {
        padding: 20px;
        font-family: 'Pacifico', sans-serif;
    }
    &__left img, &__right img{
        width: 300px;
        position: absolute;
        padding-top: 20px;
    }
    &__left img{
        left: -20%;
    }
    &__right img{
        right: -20%;
    }
    &:hover .marvel__left{
        transform: translateX(-300px);
        opacity: 1;
    }
    &:hover .marvel__right{
        transform: translateX(300px);
        opacity: 1;
    }
    &:hover .marvel__text{
        opacity: 1;
        transition-delay: 1s;
        z-index: 101;
    }
}
  