.miniCard{
    position: relative;
    display: flex;
    padding: 20px 60px;
    &--title{
        text-align: center;
    }
    &__card{
        width: 350px;
        height: 500px;
        background: linear-gradient(#bdf, #def 20%, #7ac 55%);
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    &__hide{
        width: 350px;
        height: 500px;
        background: linear-gradient(#bdf, #def 20%, #7ac 55%);
        padding: 10px 20px;
        & p {
            text-indent: 25px;
        }
    } 
    &__choose{
        position: absolute;
        top: 20px;
        right: 40px;
        & ul{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: calc(100vh - 130px);
            margin-right: 80px;
            & img {
                max-width: 100px;
            }
        }
    }   
    & img {
        width: 350px;
    }
    &__btn {
        display: block;
        width: 70%;
        margin: 0 auto;
        padding: 10px 20px;
        background: red;
        outline: none;
        border: none;
    }
}
