.aboutBox__more{
    width: 80%;
    height: calc(100% - 70px);
    background: linear-gradient(45deg, purple 15%, crimson 30%, orangered 50%, gold 75%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX( -50%);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &--link{
        display: block;
        color: black;
        border: 1px solid black;
        padding: 10px 20px;
        text-align: center;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: bold;
    }
    & h2{
        padding: 20px;
    }
    & img {
        width: 32px;
        height: 32px;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15px;
        &:hover{
            transform: rotate(90deg);
        }
    }
    
}